# Virtual environment
.venv/

# Python cache
__pycache__/
*.pyc

# Generated data
data/processed_train.csv
data/features_train.csv


# Jupyter
.ipynb_checkpoints/

# Environment / secrets
.env

# VS Code
.vscode/